# Add your API keys and configuration here
MISTRAL_API_KEY=
OPENAI_API_KEY=
VECTORSTORE_PATH=.vectorstore
EMBEDDING_DIM=1536
VERCEL_AI_API_KEY=
PINECONE_API_KEY=your-pinecone-api-key-here
PINECONE_ENVIRONMENT=your-pinecone-environment-here
PINECONE_INDEX=stellar-debugger
